Django==5.2.5
celery==5.5.0
redis==5.3.0
djangorestframework==3.16.1
drf-yasg==1.21.10    # for Swagger documentation
ipinfo==5.2.0       # if using ipinfo for geolocation
django-ratelimit==3.0.1
gunicorn==23.0.0

